<!DOCTYPE html>
<html>

<head>
    <title>Люби Читать</title>
    <!-- Page styles -->
    <link href="https://fonts.googleapis.com/css?family=Monoton" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
    <link rel="stylesheet" type="text/css" href="../static/css/material.min.css">


</head>

<body>


<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

    <div class="android-header mdl-layout__header mdl-layout__header--waterfall">
        <div class="mdl-layout__header-row">

            <!-- Add spacer, to align navigation to the right in desktop -->
            <div class="android-header-spacer mdl-layout-spacer"></div>
            <div class="android-search-box mdl-textfield mdl-js-textfield mdl-textfield--expandable mdl-textfield--floating-label mdl-textfield--align-right mdl-textfield--full-width">

            </div>
            <!-- Navigation -->
            <div class="android-navigation-container">
                <nav class="android-navigation mdl-navigation">
                    <a class="mdl-navigation__link mdl-typography--text-uppercase" href="">About</a>
                    <a class="mdl-navigation__link mdl-typography--text-uppercase" href="">Contact</a>
                    <a class="mdl-navigation__link mdl-typography--text-uppercase" href="">Sign in</a>
                    <a class="mdl-navigation__link mdl-typography--text-uppercase" href="">Sign up</a>

                </nav>
            </div>
        </div>
    </div>


    <div class="android-content mdl-layout__content">
        <a name="top"></a>
        <div class="android-be-together-section mdl-typography--text-center">
            <div class="logo-font android-slogan">Lorem ipsum dolor</div>
            <div class="logo-font android-sub-slogan">

                <button class="show-modal1 mdl-button mdl-js-button mdl-button--raised mdl-button--colored">Sign up
                </button>

                <button class="show-modal2 mdl-button mdl-js-button mdl-button--raised mdl-button--accent">Sign in
                </button>

            </div>
        </div>

    </div>

    <footer class="android-footer mdl-mega-footer">
        <div class="mdl-mega-footer--top-section">
            <div class="mdl-mega-footer--left-section">
                <button class="mdl-mega-footer--social-btn"></button>
                &nbsp;
                <button class="mdl-mega-footer--social-btn"></button>
                &nbsp;
                <button class="mdl-mega-footer--social-btn"></button>
            </div>
            <div class="mdl-mega-footer--right-section">
                <a class="mdl-typography--font-light" href="#top">
                    Back to Top
                    <i class="material-icons">expand_less</i>
                </a>
            </div>
        </div>


    </footer>
</div>


<dialog id="dialogsignup" class="dialog">
    <div class="mdl-card mdl-shadow--6dp">
        <div class="mdl-card__title mdl-color--primary mdl-color-text--white">
            <h2 class="mdl-card__title-text">Let's join us</h2>
        </div>
        <div class="mdl-card__supporting-text">
            <form method="post" , action="/register">

                <div class="mdl-textfield mdl-js-textfield">
                    <input class="mdl-textfield__input" name="name" type="text" id="name"/>
                    <label class="mdl-textfield__label" for="name">Username</label>
                </div>
                <div class="mdl-textfield mdl-js-textfield">
                    <input class="mdl-textfield__input" name="email" type="email" id="email"/>
                    <label class="mdl-textfield__label" for="email">Email</label>
                </div>
                <div class="mdl-textfield mdl-js-textfield">
                    <input class="mdl-textfield__input" name="password" type="password" id="password"/>
                    <label class="mdl-textfield__label" for="password">Password</label>
                </div>
                <div class="mdl-textfield mdl-js-textfield">
                    <input class="mdl-textfield__input" name="confirm-password" type="password" id="confirm-password"/>
                    <label class="mdl-textfield__label" for="confirm-password">Confirm password</label>
                </div>


                <p>
                    <button type="submit" class="mdl-button">Sign up</button>
                </p>
            </form>
        </div>
    </div>
</dialog>

<dialog class="dialog" id="dialog-signin">
    <div class="mdl-card mdl-shadow--6dp">
        <div class="mdl-card__title mdl-color--primary mdl-color-text--white">
            <h2 class="mdl-card__title-text">Let's join us</h2>
        </div>
        <div class="mdl-card__supporting-text">
            <form method="post" , action="/login">

                <div class="mdl-textfield mdl-js-textfield">
                    <input class="mdl-textfield__input" name="name" type="text" id="na"/>
                    <label class="mdl-textfield__label" for="na">Username</label>
                </div>

                <div class="mdl-textfield mdl-js-textfield">
                    <input class="mdl-textfield__input" name="password" type="password" id="pass"/>
                    <label class="mdl-textfield__label" for="pass">Password</label>
                </div>


                <p>
                    <button type="submit" class="mdl-button">Sign in</button>
                </p>
            </form>
        </div>
    </div>
</dialog>


<script>
    var dialog1 = document.getElementById('dialogsignup');
    var dialog2 = document.getElementById('dialog-signin');
    var showModalButton1 = document.querySelector('.show-modal1');
    var showModalButton2 = document.querySelector('.show-modal2');
    if (!dialog1.showModal) {
        dialogPolyfill.registerDialog(dialog1);
    }

    if (!dialog2.showModal) {
        dialogPolyfill.registerDialog(dialog2);
    }
    showModalButton1.addEventListener('click', function (event) {
        dialog1.showModal();
        event.preventDefault();
        show: 'fade';
        hide: 'fade';

    });
     showModalButton2.addEventListener('click', function (event) {
        dialog2.showModal();
        event.preventDefault();
        show: 'fade';
        hide: 'fade';

    });

</script>


</body>

</html>

