<!DOCTYPE html>
<html>

  <head>
    <title>The Movie Graph</title>
    <link rel="stylesheet">
  </head>

  <body>

    <div class="header">
      <nav><strong>The Movie Graph</strong></nav>
    </div>

    <h1>The Movie Graph</h1>
    <ul>
        <li><a >People</a></li>
        <li><a >Movies</a></li>
    </ul>
    <a href="/register"><button>"Register"</button></a>
     <a href="/login"><button>"Login"</button></a>
    <div class="footer">
      <code>(graphs)-[:ARE]->(everywhere)</code>
    </div>

  </body>

</html>
